<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nouvelle section</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

<form>
    <label for="name">Section  </label>
    <input type="text" required [(ngModel)]="section.nom" name="nom">
</form>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="Ajouter()">Confirmer</button>
  </div>
</ng-template>




<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Ajouter une section</button>

<br> <br> <br>




<div class="panel panel-primary">

  <div class="panel-heading">




    <h2>Liste des sections</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Section</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let section of sections | async">
          <td>{{section.nom}}</td>

          <td><button (click)="deleteSection(section.id)" class="btn btn-danger">Supprimer</button>

    
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
